
$primary: #402084;
$secondary: #ef7bca;
$tertiary: #e56b6f;
$success: #28a745;
$info: #007bff;
$warning: #ffc107;
$danger: #dc3545;
$light: darken(#ffffff, 3);
$lightest: #f6f4fb;
$dark: #4d4d4d;
$darkest: #262626;


$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'lightest': $lightest,
  'dark': $dark,
  'darkest': $darkest,
);